[submodule "external/diffusers"]
	path = external/diffusers
	url = https://github.com/huggingface/diffusers.git
[submodule "external/SadTalker"]
	path = external/SadTalker
	url = https://github.com/OpenTalker/SadTalker.git
